#TITULO{
padding-left: 40%;
padding-right: 40%;
margin-left: 3%;
  position: fixed;
}


body {
  background-image: url("https://www.subeimagenes.com/img/thor2020-desktop-wallpaper-2560x1440-2117699.jpg");
 background-size: 100%;
 background-attachment: fixed;
}

p {
  color: white;
  padding: 20px 30px 40px 50px;
  border: 5px solid darkblue;
}
h1 {
  color: white;
  text-align: center;
  border: 10px groove red;
  border-radius: 50%;
  box-shadow: 0px 10px 5px;
  text-shadow: #f00 -3px 0px 2px;
  background-image: url("https://2.bp.blogspot.com/-qiI20raFTSk/V3aC0lF9GjI/AAAAAAAFmFA/txsuk-dZrdQR-UUCH32fFemwxAXlvOVYACLcB/s1600/EFECTOS%2B%2528414%2529.gif");

}

h4 {
  color: white;
  text-align: center;
  border: 10px groove red;
  border-radius: 50%;
  box-shadow: 0px 10px 5px;
  text-shadow: #f00 -3px 0px 2px;
  transform: rotate(0deg) translateX(0px) translateY(50px) skew(45deg);
  background-image: url("https://2.bp.blogspot.com/-qiI20raFTSk/V3aC0lF9GjI/AAAAAAAFmFA/txsuk-dZrdQR-UUCH32fFemwxAXlvOVYACLcB/s1600/EFECTOS%2B%2528414%2529.gif");

}
h5 {
  color: white;
  text-align: center;
  text-shadow: #f00 -3px 0px 2px;
}

#gradiente{
  background: rgb(255,0,0);
 background: -moz-linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(19,121,9,1) 41%, rgba(0,212,255,1) 100%);
 background: -webkit-linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(19,121,9,1) 41%, rgba(0,212,255,1) 100%);
 background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(19,121,9,1) 41%, rgba(0,212,255,1) 100%);
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff0000",endColorstr="#00d4ff",GradientType=1);

}

#formulario {
text-align:center;
background-image: url("https://thumbs.gfycat.com/CarelessGraciousHowlermonkey-size_restricted.gif");
border: 5px solid blue;
}

#fname:focus , #password:focus{
background: red;
color: white;
font-weight: bold;
border: 3px solid #00FF00;
}

#testo:disabled{
}

#container .menu:first-child li {
height: 20px;
  max-width: 25%;
background-color: red;
}

#button {
  font-size: 14px;
  transition-property: font-size;
  transition-duration: 4s;
  transition-delay: 2s;
}
#button:hover {
  font-size: 36px;
}

div {
  transition: background 1s;
  border: 1px dotted blue;

}
div:hover {
	background-color: rgba(0,0,0,0.5);
}


span {
    color: white;
	 border: 1px dotted blue;

}
li {
    color: white;
  height: 45px;
  width: 500px;
}
a {
margin-left: 40%;
margin-right: auto;
border: 2px solid white;
color: blue;
  transition: color 1s;
}
a:hover {
  color: red;
}
a:link {
  color: green;
}
a:active {
  font-weight: bold;
}
